spring:
  application:
    name: ms-notificacoes
  rabbitmq:
   username: guest
   password: guest
   host: nuvem
   port: 5672
   virtual-host: /
server:
  port: 0
eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
  instance:
    preferIpAddress: true