spring:
  application:
    name: ms-contratos
  rabbitmq:
#   addresses: nuvem:8080
   username: guest
   password: guest
   host: nuvem
   port: 5672
   virtual-host: /
server:
  port: 9090
eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
  instance:
    preferIpAddress: true
hystrix:
  command:
    search:
      execution:
        isolation.thread.timeoutInMilliseconds: 500
      circuitBreaker:
        requestVolumeThreshold: 2  # For testing purposes
management:
  endpoint:
    health:
      enabled: true
      show-details: always
  endpoints:
    jmx:
      exposure:
        include: "*"
    web:
      exposure:
        include: "*"
      cors:
        allowed-origins: true
      base-path: /actuator
    enabled-by-default: true
feign:
  hystrix:
    enabled: true